body {
  padding-top: 70px;
}

footer .container {
    font-size: 10px;
    margin-top: 20px;
    padding: 10px;
    height: 35px;
    border-radius: 6px;
    background-color: #eee;
    text-align: center;
}

.jumbotron { 
    padding: 10px; 
}
