<script language="javascript" type="text/javascript">
    function formValidate() {

        var task_name = Task.task_name.value;
        var task_desc = Task.task_desc.value;
     
        if (task_name == "") {
            alert('Preencha o campo com o nome da tarefa!');
            Task.task_name.focus();
            return false;
        }

        else if (task_desc == "") {
            alert('Preencha o campo com a descrição da tarefa!');
            Task.task_desc.focus();
            return false;
        }

        else {
            alert('Tarefa enviada com sucesso!');
        }
    }
</script>

<form action="{{ action }}" method="post" name="Task" onsubmit="return formValidate()">
    <p>
        <label>Task Name:<br/>
            <input type="text" class="form-control" name="taskName" id="task_name" placeholder="{{ task['taskName'] }}">
        </label>
    </p>
    <p>
        <label>Description:<br/>
            <textarea type="text" class="form-control" name="taskDesc" id="task_desc" placeholder="{{ task['taskDesc'] }}"></textarea>
        </label>
    </p>
    <input type="submit" class="btn btn-primary" value="Enviar">
    <a class="btn btn-danger" href="/">Cancelar</a>
</form>