{% extends "task/layout.html" %}
{% block content %}

    <div class="jumbotron">
        <h1>To Do List</h1>
        <p>To do list to manage daily tasks</p>
    </div>

    <a class="btn btn-primary" href="{{ url_for('task.create') }}">Create</a>
    <button class="btn btn-warning" id="edit">Edit Task</button>
    <button class="btn btn-danger" id="delete">Delete Task</button>
    <button class="btn btn-info" id="show">Show Task</button>

    <h2>Show Tasks by Datatable and JSON</h2>

    <table id="todo-table" class="table" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
            </tr>
        </thead>
    </table>
{% endblock %}